body {
		background-image: url("../img/111.jpg");
		color: #000;
}
*
{
	margin: 0;
	padding: 0;
}
#content{
	width: 800px;
	height: auto;
	margin:auto;
	
}
#menu{
	padding-left: 150px;
	font-size: 20px;
	height: 30px;
	margin-left: 1000px;
	background: 87766C;

}
#menu a{
	text-decoration: none;
	color: #fff;
margin-right: 20px;
}
/*#menu span {
	margin-left: 500px;
}*/
#center{
	margin-left: -200px;
	width: 1200px;
	height: auto;
	background-color: #fff;
	
	background-image: url("../img/222.jpg");
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
